# Ignore TUMuch cache directory
TUMuch.cache/

# Ignore TUMuch sim directory
TUMuch.sim/

# Ignore TUMuch xpr file

TUMuch.xpr

# Ignore TUMuch hw directory

TUMuch.hw/

# Ignore TUMuch ip user file directory

TUMuch.ip_user_files/


# Ignore all .txt files used for generating

TUMuch.rsc/data_dump.txt

TUMuch.rsc/trace.txt

TUMuch.rsc/bin_input.txt

TUMuch.rsc/asm_input.txt
/TUMuch.runs
